body{
  background-color: cornflowerblue;
  min-width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
h2{
  margin: 10px
}

nav{
  padding: 0px;
  margin: 0px;
  background-color: rgb(0, 90, 0);
  min-width: 100%;
  position: relative;
}
nav ul li{
  display: inline;
  padding: 10px;
  border-left: 1px solid black
}
nav ul li:hover{
  background-color: rgb(0, 30, 0);
}
nav ul li:visited{
  background-color: red;
}
nav ul li a{
  text-decoration: none;
  color: white;
}
nav ul{
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
  min-width: 100%;
}

.authForm{
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.authForm input {
  min-width: 100%;
  margin: 10px;
  padding: 10px;
}
.authForm button {
  margin: 10px;
}

.VideoFeed-member{
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  background-color: skyblue;
}

.VideoView{
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: forestgreen;
}
.VideoView-info{
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}
.VideoView-header{
  color: aliceblue;
  border: 1px solid black;
}

.CommentFeed{
  display: flex;
  flex-direction: column;
}
.CommentFeed-member{
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  background-color: skyblue;
}

.CommentSubmit{
  min-width: 100%;
}
.CommentSubmit input{
  min-width: 100%;
}

.upload-response{
  margin: 10px;
  padding: 10px;
}
.upload-form{
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 200px;
}
.upload-form button{
  width: 200px;
}
.upload-form label{
  padding: 5px;
}