body{
  background-color: cornflowerblue;
  min-width: 100%;
  margin: 0px;
  padding: 0px;
}
nav{
  padding: 0px;
  margin: 0px;
  background-color: cadetblue;
  min-width: 100%;
  position: relative;
}
nav ul li{
  display: inline;
  margin: 5px;
  padding: 5px;
  border-left: 1px solid black
}
nav ul{
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
  min-width: 100%;
}

.authForm{
  display: flex;
  align-items: center;
  justify-content: center;
}
.authForm input {
  min-width: 100%;
  margin: 10px;
  padding: 10px;
}
.authForm button {
  margin: 10px;
}

.VideoFeed-member{
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  background-color: skyblue;
}

.VideoView{
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: forestgreen;
}
.VideoView-info{
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.CommentFeed{
  display: flex;
  flex-direction: column;
}
.CommentFeed-member{
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  background-color: skyblue;
}

.CommentSubmit{
  min-width: 100%;
}
.CommentSubmit input{
  min-width: 100%;
}