body{
  background-color: green;
  min-width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
h2{
  margin: 10px;
}
h1{
  margin: 10px;
}
h3{
  margin: 8px;
}
a{
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
  color:darkgreen
}
nav{
  padding: 0px;
  margin: 0px;
  background-color: rgb(0, 90, 0);
  min-width: 100%;
  position: relative;
}
nav ul li{
  display: inline;
  padding: 10px;
  border-left: 1px solid brown;
}
nav ul li:hover{
  background-color: rgb(0, 30, 0);
  color: white;
}
nav ul li:visited{
  background-color: red;
}
nav ul li a{
  text-decoration: none;
  color: white;
}
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
  min-width: 100%;
}

.authForm{
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.authForm input {
  min-width: 100%;
  margin: 10px;
  padding: 10px;
}
.authForm button {
  margin: 10px;
}

.home-layout{
  display: flex;
  flex-direction: column;
}

.VideoFeed-member{
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  background-color: skyblue;
}
.VideoFeed-member h3{
  margin: 0px;
}

.VideoView{
  margin: 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: forestgreen;
}
.VideoView-info{
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}
.VideoView-header{
  color: aliceblue;
  display: flex;
  align-items: center;
}

.CommentFeed{
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
.CommentFeed-member{
  margin: 10px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 10px;
  background-color: darkgreen;
}
.Comment-info{
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.Comment-info h4{
  margin-right: 20px;
}
.CommentFeed-member p{
  padding: 0px;
  margin: 0px;
  position: relative;
  bottom: 10px;
}

.CommentSubmit{
  min-width: 100%;
  position:fixed;
  bottom:0;
  right: 0;
  margin-top: 10%;
}
.CommentSubmit h3{

}
.CommentSubmit input{
  min-width: 100%;
}
.followButton{
  height: 30px;
}
.upload{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upload h1{
  margin-top: 80px;
}
.upload-response{
  margin: 10px;
  padding: 10px;
}
.upload-form{
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 200px;
  align-items: flex-start;
}
.upload-form input{
  min-width: 100%;
  margin-bottom: 10px;
}
.upload-form button{
  width: 100px;
}
.upload-form label{
  padding: 5px;
}
.user-header{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.user-email{
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-details{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.userlist{
  list-style-type: none;
}
.userlist li{
  margin-bottom: 10px;
  font-size: large;
}
.title{
  position:fixed;
  left: 10px;
  top: 10px;
  border: none;
  font-family: "Papyrus";
  font-size: large;
}
.title:hover{
  background-color: none;
}